.grad-btn{
  background: linear-gradient(275.7deg, #47A2FF -7.22%, #374BFF 108.91%);
  border-radius: 8px;
  border-color: transparent !important;
  color: #FFFFFF;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style-type:none;
}
